@use 'variable' as v;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.body {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LAYOUT */ 
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  max-width: 100%;
  min-height: 100vh;
}

/* HOME */
.home {
  border: 1px solid red;
}

.bold {
  font-weight: 700;
}

.first-name {
  color: v.$main-color;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: -0.6rem;
}

.last-name {
  font-size: 1.5rem;
  font-weight: 700;
}

/* TITLE */
.title {
  color: v.$main-txt-color;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  color: v.$main-color;
}

.title:before {
  content: "";
  background-color: white;
  height: 0.25em;
  width: calc( 100% + 60px );
  position: absolute;
  bottom: 0.15em;
  left: -10px;
  z-index: -1;
}

/* ABOUT ME */
.aboutme {
  border: 1px solid green;
  text-align: center;
  margin: 2rem;
}