@use 'variable' as v;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.body {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LAYOUT */ 
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  max-width: 100%;
  min-height: 100vh;
}

/* HOME */
.home {
  border: 1px solid red;
}

.bold {
  font-weight: 700;
}

.first-name {
  color: v.$main-color;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: -0.6rem;
}

.last-name {
  font-size: 1.5rem;
  font-weight: 700;
}

/* TITLE */
.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2rem;
  position: relative;
  display: inline-block;
}

.title:before {
  content: "";
  background-color: v.$main-color;
  box-shadow: 0 0 5px 3px v.$main-color;
  height: 0.25rem;
  width: calc( 100% + 20px );
  position: absolute;
  bottom: 0.5rem;
  left: -0.5rem;
  z-index: -1;
}

/* ABOUT ME */
.aboutme {
  border: 1px solid green;
  text-align: center;
}

.aboutme__text {
  max-width: 80%;
  margin: auto;
}

/* SKILLS */
.skills {
  border: 1px solid blue;
  text-align: center;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
}

.skills__list {
  list-style: none;
}

.skills__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 3px rgb(200, 200, 200);
  border: 1px solid rgb(235, 235, 235);
  padding: 5px;
  font-size: 0.5rem;
  font-weight: 500;
}

/* PROJECTS */
.projects {
  text-align: center;
  border: 1px solid orange;
}

.project__container {
  position: relative;
  max-width: 300px;
  min-height: 400px;
  margin: 1rem;
}

.project__img {
  max-width: 300px;
  min-height: 400px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.project__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: v.$main-txt-color;
  border-radius: 20px;
}

.project__container:hover .project__overlay {
  opacity: 1;
}

.project__text {
  color: white;
  position: absolute;
  text-align: center;
  margin: 1rem;
}

.project__tech__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.project__tech__button {
  background-color: #ffffff;
  color: #333745;
  border-radius: 20px;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}